@page "/fetchdata"

@using BlazorFinanceNews.Data
@inject FinanceNewsService FinanceService

 <style>
      table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 200px;
      }
      table td {
        border: none;
        width: 50px;
        word-wrap: break-word;
      }
    </style>

<h1>Finance News</h1>

  

@if (newsItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    
    <table class="table">
        <thead>
            <tr>
               
                <th>Date</th>
                <th>Link </th>
                <th>Source</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var newsItem in newsItems)
            {
                <tr>
                  
                    <td >@newsItem.pubDate.ToShortDateString()</td>
                  <td><a href=@newsItem.link>@newsItem.title</a> </td>
                    <td>@newsItem.source</td>
                </tr>
            }
        </tbody>
    </table>
    
}


@code {
    private FinanceNews[] newsItems;

    protected override async Task OnInitializedAsync()
    {
        newsItems = await new FinanceNewsService().GetFinanceNewsAsync();
    }
}
